@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PretendardVariable';
  src: url('./assets/font/PretendardVariable.ttf');
}

body {
  @apply font-pretendard;
  margin: 0;
  padding: 0;
}

@media (min-width: 600px) {
  body,
  .container,
  .content,
  header,
  nav {
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
